
img{
    max-width: 100%;
} 
.container{
    max-width: 1100px;
    margin: 0;
    padding: 0 30px;
}

body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    line-height: 1.5;
}

h1{
    margin-bottom: 100px;
}

ul{
    list-style: none;
}

.navbar{
    height: 60px;
    background-color: #3474e6;
    color: #fff;
}

.navbar .logo{
    font-weight: 300;
    font-size: large;
}

.navbar a{
    color: #fff;
    text-decoration: none;
    font-size: large;
    font-weight: 700;
}

.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar ul{
    display: flex;
}

.navbar ul li{
    margin-left: 20px;
}

